@charset "uft-8";

body {
    background-color: #e8d9bf;
}

header {
    position: relative;
}

.header_slider {
    width: 100%;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 227px;
}

.pc_nav ul {
    display: flex;
    gap: 50px;
}

.pc_nav ul li {
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 105px;
    text-align: center;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.tagline {
    font-size: 30px;
    margin: 104px 0 0 0;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1em;
    margin: 47px 0 0 0;
}

.main {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
    margin: 21px 0 0 0;
}

.about_us {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
    margin-top: 91px;
}

.coffee {
    width: 50%;
}

.coffee img {
    border-bottom-right-radius: 82px;
}

.about {
    width: 41%;
}

.about_title {
    height: 77px;
    margin-top: 58px;
}

.about_title img {
    width: 65%;
}


.about_sub {
    margin: 50px 0 0 0;
    font-size: 44px;
    line-height: 1.38;
}

.about_text {
    font-size: 16px;
    line-height: 1.62;
    margin-top: 22px;
}

.menu {
    max-width: 1000px;
    margin: 0 auto;
}


.menu_title {
    width: 151px;
    height: 78px;
    margin: 96px auto 38px auto;
    text-align: center;
}

.menu_box {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.box {
    width: 30%;
}

.menu_image img {
    border-top-right-radius: 41px;
}

.menu_name {
    color: #d30202;
    font-size: 38px;
    line-height: 0.57;
    padding-left: 10px;
}

.menu_text {
    font-size: 17px;
    line-height: 1.47;
    margin: 9px 0 0 0;
}

.gallery {
    width: 100%;
}

.gallery_title {
    width: 245px;
    height: 78px;
    text-align: center;
    margin: 38px auto 16px auto;
}

.box_2 {
    display: flex;
    justify-content: space-between;
    width: 20%;
}


.event {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.event_title {
    width: 173px;
    height: 79px;
    text-align: center;
    margin: 59px auto 29px auto;
}

.event_box {
    max-width: 1000px;
    height: 200px;
    border: solid 3px #4f260b;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
}

.event_innerbox {
    display: inline-block;
    margin-top: 37px;

}

.box_3 {
    font-size: 23px;
    display: flex;
    margin: 15px;
}

.event_date {
    margin-right: 50px;
}

.event_text {
    border-bottom: 1px solid saddlebrown;
}


.access {
    width: 213px;
    height: 78px;
    text-align: center;
    margin: 69px auto 35px auto;
}

.access_map iframe {
    width: 100%;
    height: 470px;
    display: block;
}

.footer {
    background-color: #fff;
    height: 393px;
    width: 100%;
}

.footer_innerbox {
    margin: 0 auto;
    max-width: 1000px;
}

.footer_content {
    display: flex;
    gap: 65px;
    padding: 74px 0 74px 10px;
}

.footer_title {
    width: 226px;
}

.footer_text li {
    font-size: 20px;
    line-height: 1.95;
}

.bottom {
    font-size: 16px;
    text-align: center;
}

.top img {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 125px;
}