@charset "uft-8";

body {
    background-color: #eedcb3;
}

header {
    position: relative;
}

.header_slider {
    width: 100%;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 227px;
}

.pc_nav ul {
    display: flex;
    gap: 50px;
}

.pc_nav ul li {
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 105px;
    text-align: center;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.midasi {
    font-size: 30px;
    margin: 104px 0 0 0;
    display: flex;
    justify-content: center;
}

.midasi_0 {
    font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1em;
    margin: 47px 0 0 0;
}

.main {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
    margin: 21px 0 0 0;
}

.about_us {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;

}

.coffee img {
    width: 500px;
    margin: 91px 80px 0 0;
    border-bottom-right-radius: 82px;
}

.about {
    width: 37%;
}

.about_0 {
    height: 77px;
    margin: 153px 0 0 0;
}

.about_1 {
    margin: 50px 0 0 0;
    font-size: 44px;
    line-height: 1.38;
}

.about_2 {
    font-size: 16px;
    line-height: 1.62;
    margin: 22px 0 0 0;
}

.menu {
    max-width: 1000px;
    margin: 0 auto;
}


.menu_0 {
    width: 151px;
    height: 78px;
    margin: 96px auto 38px auto;
    text-align: center;
}

.menu_1 {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.box {
    width: 30%;
}

.drink_0 img {
    border-top-right-radius: 41px;
}

.drink_1 {
    color: red;
    font-size: 38px;
    line-height: 0.57;
    padding-left: 10px;
}

.drink_2 {
    font-size: 17px;
    line-height: 1.47;

    margin: 9px 0 0 0;
}

.gallery {
    width: 100%;
}

.gallery_0 {
    width: 245px;
    height: 78px;
    text-align: center;
    margin: 38px auto 16px auto;
}

.box_2 {
    display: flex;
    justify-content: space-between;
    width: 38%;
}


.event {
    max-width: 1000px;
    margin: 0 auto;
}

.event_0 {
    width: 173px;
    height: 79px;
    text-align: center;
    margin: 59px auto 29px auto;
}

.event_1 {
    max-width: 1000px;
    height: 200px;
    border: solid 3px saddlebrown;
    background-color: #fff;
    margin: 0 auto;

}

.box_3 {
    font-size: 23px;
    margin: 30px;
    display: flex;
}

.access {
    width: 213px;
    height: 78px;
    text-align: center;
    margin: 69px auto 35px auto;
}

.access_0 iframe {
    width: 100%;
    height: 470px;
    display: block;
}

.footer {
    background-color: #fff;
    width: 100%;
    height: 393px;
    display: flex;
    justify-content: flex-start;
}

.footer_0 {
    width: 226px;
    height: 50px;
    margin: 74px 65px 269px 0;
}

.footer_1 {
    font-size: 20px;
    line-height: 1.95;
    width: 34%;
    margin: 81px;
}

.top img {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 125px;
}