@charset "uft-8";

body {
    background-color: #e8d9bf;
}

header {
    position: relative;
}

.header_slider img {
    width: 100%;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 227px;
}

.pc_nav ul {
    display: flex;
    gap: 50px;
}

.pc_nav ul li {
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 105px;
    text-align: center;
}


.content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.tagline {
    font-size: 30px;
    margin-top: 104px;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1em;
    margin-top: 47px;
}

.main {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
    margin-top: 21px;
}

.about_us {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
    margin-top: 91px;
}

.coffee {
    width: 50%;
}

.coffee img {
    border-bottom-right-radius: 82px;
}

.about {
    width: 41%;
}

.about_title {
    height: 77px;
    margin-top: 58px;
}

.about_title img {
    height: 100%;
}


.about_sub {
    margin-top: 50px;
    font-size: 44px;
    line-height: 1.38;
}

.about_text {
    font-size: 16px;
    line-height: 1.62;
    margin-top: 22px;
}

.menu {
    max-width: 1000px;
    margin: 0 auto;
}


.menu_title {
    width: 151px;
    height: 78px;
    margin: 96px auto 38px auto;
    text-align: center;
}

.menu_box {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.box {
    width: 30%;
}

.menu_image img {
    border-top-right-radius: 41px;
}

.menu_name {
    color: #d30202;
    font-size: 38px;
    line-height: 0.57;
    padding-left: 10px;
}

.menu_text {
    font-size: 17px;
    line-height: 1.47;
    margin: 9px 0 0 0;
}

.gallery {
    width: 100%;
}

.gallery_title {
    width: 245px;
    height: 78px;
    text-align: center;
    margin: 38px auto 16px auto;
}


.box_2 {
    display: none;
}

.box_4 {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

/* .gallery_1,
.gallery_2,
.gallery_3,
.gallery_4,
.gallery_5 {
    width: 20%;
} */

.box_4 img {
    width: 20%;
}

.event {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.event_title {
    width: 173px;
    height: 79px;
    text-align: center;
    margin: 59px auto 29px auto;
}

.event_box {
    max-width: 1000px;
    height: 200px;
    border: solid 3px #4f260b;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
}

.event_innerbox {
    display: inline-block;
    margin-top: 37px;

}

.box_3 {
    font-size: 23px;
    display: flex;
    margin: 15px;
}

.event_date {
    margin-right: 50px;
}

.event_text_top,
.event_text_middle,
.event_text_bottom {
    text-decoration: underline;
}


.access {
    width: 213px;
    height: 78px;
    text-align: center;
    margin: 69px auto 35px auto;
}

.access_map iframe {
    width: 100%;
    height: 470px;
    display: block;
}

.footer {
    background-color: #fff;
    height: 393px;
    width: 100%;
}

.footer_innerbox {
    margin: 0 auto;
    max-width: 1000px;
}

.footer_content {
    display: flex;
    gap: 65px;
    padding: 74px 0 74px 10px;
}

.footer_title {
    width: 226px;
}

.footer_text li {
    font-size: 20px;
    line-height: 1.95;
}

.bottom {
    font-size: 16px;
    text-align: center;
}

.top img {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 125px;
}

.sp_btn,
.sp_nav {
    display: none
}

.sp {
    display: none;
}

.slick-dots {
    bottom: 20px;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #fff;
    font-size: 10px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-prev {
    left: 23%;
    z-index: 100;

}

.slick-prev:before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    transform: rotate(225deg);
}

.slick-next {
    right: 23%;
}

.slick-next:before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    transform: rotate(45deg);
}


.slick-dots li {
    display: none;
}


@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }

    .sp_btn {
        display: block;
        height: 23px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 25px;
        z-index: 2;
    }

    .sp_btn span {
        display: block;
        width: 33px;
        height: 3px;
        background: #fff;
        border-radius: 2px;
        position: relative;
        top: 10px;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        width: 33px;
        height: 3px;
        background: #fff;
        border-radius: 2px;
        position: absolute;
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 10px;
    }

    .sp_btn span::after {
        top: 10px;
    }

    .sp_btn.open span {
        background: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .sp_nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 40px;
    }

    .sp_nav ul li {
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
            "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
        font-weight: bold;
    }

    .tagline {
        font-size: 17px;
        margin-top: 41px;
    }

    .title {
        font-size: 50px;
    }

    .main {
        font-size: 19px;
    }

    .about_sub {
        font-size: 36px;
    }
}

@media screen and (max-width: 767px) {

    .title {
        font-size: 38px;
    }

    .sp {
        display: block;
    }

    .about_us {
        flex-direction: column;
        padding: 0;
        display: flex;
    }

    .coffee {
        width: 100%;
        order: 2;
    }

    .coffee img {
        border-bottom-right-radius: 0;
        width: 100%;
    }

    .about {
        display: contents;
    }

    .about_title {

        margin: 0 auto;
        order: 1;
    }

    .about_title img {
        height: 55px;
        width: 160px;
    }

    .about_sub {
        order: 3;
        margin-left: 15px;
        margin-top: 34px;
    }

    .about_text {
        order: 4;
        margin-left: 15px;
        margin-right: 15px;
    }

    .menu_title {
        margin: 46px auto 13px auto;
        height: 45px;
        width: 87px;
    }

    .menu_title img {
        height: 100%;
    }


    .menu_box {
        flex-direction: column;
        margin-left: 37px;
        margin-right: 37px;
        padding-left: 0;
        padding-right: 0;
    }

    .box {
        margin: 0;
        width: 100%;
    }

    .menu_image img {
        width: 100%;
    }

    .menu_text {
        margin: 10px 0 40px 0;
    }

    .gallery_title {
        height: 45px;
        width: 142px;
    }

    .box_4 {
        display: none;
    }

    /* .gallery_1,
    .gallery_2,
    .gallery_4,
    .gallery_5 {
        display: none;
    } */

    /* .gallery_3 {
        width: 100%;
    } */

    .box_2 img {
        width: 100%;
    }


    .box_2 {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: block;
    }

    .slick-prev {
        left: 3%;
    }

    .slick-next {
        right: 4%;
    }

    .event_title {
        width: 100px;
        height: 45px;
        margin: 25px auto 20px auto;
    }

    .event_innerbox {
        margin-top: 20px;
        display: block;
    }

    .box_3 {
        flex-direction: column;
        font-size: 16px;
        margin: 26px;
    }

    .event_date {
        text-align: left;
    }


    .event_text_top,
    .event_text_middle,
    .event_text_bottom {
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    .access {
        width: 124px;
        height: 45px;
        margin: 24px auto 10px auto;
    }

    .access_map iframe {
        height: 191px;
    }

    .footer {
        height: 322px;
    }

    .footer_content {
        gap: 27px;
        flex-direction: column;
        padding-top: 41px;
        padding-bottom: 41px;
    }


    .footer_text li {
        font-size: 18px;
        line-height: 1.75;
    }

    .bottom {
        margin-bottom: 27px;
    }


    .top img {
        width: 100px;
        bottom: 20px;
        right: 20px;
    }
}