@charset "uft-8";

.haikei {
    max-width: 960px;
    background-color: #eeeeee;
}

h1 {
    color: green;
    display: flex;
    justify-content: center;
}

.naka {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 300px;
    height: 350px;
    background-color: aliceblue;
}

img {
    max-width: 100%;
    padding: 0 10px 0 0;
}

h3 {
    color: green;
    border-left: 5px solid green;
    margin: 10px 0 10px 5px;
}

@media screen and (max-width: 400px) {

    .naka {
        flex-direction: column;
    }

    .naka {
        max-width: 100%;
    }

    img {
        max-width: 100%;
        padding: 0;
    }
}