@charset "uft-8";

body {
    background-color: #eeeeee;
}

.haikei {
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    color: green;
    text-align: center;
    margin: 30px 0 50px 0;
}

.naka {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 31%;
    background-color: snow;
}


h3 {
    color: green;
    border-left: 5px solid green;
    margin: 10px 0 10px 10px;
}

p {
    margin: 10px;
}

@media screen and (max-width: 400px) {

    .naka {
        flex-direction: column;
        gap: 15px;
    }

    .box {
        width: 100%;
    }

    img {
        width: 100%;
    }
}